{% extends "_base.html" %}

{% block title %}Dashboard{% end %}

{% block body %}
<section class="content-header">
    <h1>
        Dashboard
    </h1>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Dashboard</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">链接列表</h3>

                    <div class="box-tools">
                        <div class="input-group input-group-sm" style="width: 150px;">
                            <input type="text" name="table_search" class="form-control pull-right" placeholder="Search">

                            <div class="input-group-btn">
                                <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body table-responsive no-padding">
                    <table class="table table-hover">
                        <tr>
                            <th>序号</th>
                            <th>链接地址</th>
                            <th>链接标题</th>
                            <th>链接描述</th>
                            <th>链接分值</th>
                            <th>链接创建时间</th>
                            <th>操作</th>
                        </tr>
                        {% for index ,item in enumerate(linkModels) %}
                        <tr>
                            <td>{{index+1}}</td>
                            <td>{{item.linkAddress}}</td>
                            <td>{{ item.linkTitle}}</td>
                            <td>{{ item.linkDesc}}</td>
                            <td>{{ item.linkScore}}</td>
                            <td>{{ item.linkCreate.strftime('%Y-%m-%d %H:%M:%S')}}</td>
                            <td>
                                <a href="/admin/link_edit?edit={{url_escape(item.linkAddress )}}" color="white"><span class="label label-success">编辑</span></a>
                                <a href="javascript:;" onclick="L.method.confirm() && L.method.operate('post', '/admin/link_delete?linkAddress={{ url_escape(item.linkAddress)}}', '{{ handler.param_xsrfs() }}')" color="white"><span class="label label-success">删除</span></a>
                            </td>
                        </tr>
                        {% end %}
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.box-body -->
        <div class="box-footer clearfix">
            <ul class="pagination pagination-sm no-margin pull-right">
                {% if prev %}
                <li><a href="/admin/link?currentPage={{currentPager-1}}">&laquo;</a></li>
                {% end %}
                {% for index in range(pageCount) %}
                {% if currentPager == 0 and index ==0 %}
                <li class="paginate_button active"><a href="javascript:void(0);">{{index+1}}</a></li>
                {% elif currentPager == index+1 %}
                <li class="paginate_button active"><a href="javascript:void(0);">{{index+1}}</a></li>
                {% else %}
                <li><a href="/admin/link?currentPage={{index+1}}">{{index+1}}</a></li>
                {% end %}
                {%end %}
                {% if next %}
                <li><a href="/admin/link?currentPage={{currentPager+1}}">&raquo;</a></li>
                {% end %}
            </ul>
        </div>
    </div>
</section>

{% end body %}

